# Creazione dataset Predictions

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [47]:
raw_data_folder = Path(r"C:\Users\Emanuele\Documents\Progetti Python\combining_strategies_ml\data\offline")

In [48]:
df_complete = pd.DataFrame()

# Loop through all files in the folder
for file in raw_data_folder.iterdir():
    # Read the file
    df = pd.read_csv(file)

    # Add the df to the complete df (concatenate)
    df_complete = pd.concat([df_complete, df])
    
# Reset the index
df_complete.reset_index(drop=True, inplace=True)

df_complete.drop(columns=['logits'], inplace=True)

df_complete

      subject     task  label  prediction
0     HC6_025  TASK_11      0           0
1     HC6_025  TASK_19      0           0
2     HC6_025  TASK_17      0           0
3     HC6_025  TASK_05      0           0
4     HC6_025  TASK_07      0           0
...       ...      ...    ...         ...
3990  HC6_057  TASK_02      0           0
3991  HC6_057  TASK_20      0           0
3992  HC6_057  TASK_06      0           0
3993  HC6_057  TASK_21      0           0
3994  HC6_057  TASK_09      0           0

[3995 rows x 4 columns]

In [49]:
# Pivot the predictions
df_wide_pred = df_complete.pivot(
    index='subject',
    columns='task',
    values='prediction'
).reset_index()

# Get one label per subject (since they should be the same for each subject)
df_labels = df_complete[['subject', 'label']].drop_duplicates()

# Merge them together
df_wide_one = df_wide_pred.merge(df_labels, on='subject')

In [50]:
# save the wide dataframe
df_wide_one.to_csv(raw_data_folder / 'alzh_pred_offline.csv', index=False)

df_wide_one

,subject,TASK_01,TASK_02,TASK_03,TASK_04,TASK_05,TASK_06,TASK_07,TASK_08,TASK_09,...,TASK_17,TASK_18,TASK_19,TASK_20,TASK_21,TASK_22,TASK_23,TASK_24,TASK_25,label
0,HC6_001,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0
1,HC6_002,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,HC6_003,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0
3,HC6_004,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0
4,HC6_005,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,PT6_085,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1
162,PT6_086,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,1
163,PT6_087,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1
164,PT6_088,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1
165,PT6_089,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1